@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
}
header {
  background-color: #fdf4e8;
  padding-bottom: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  width: 80%;
  margin: 0 auto;

}

nav h2 {
  font-weight: 600;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

/* MOBILE MENU BUTTON */
.mobile-menu-btn {
  background: none;
  border: none;
  color: black;
  font-size: 28px;
  display: none;
  cursor: pointer;
}
.banner {
  margin-top: 30px;
}
.banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-text h3 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}
.banner-text p {
  font-size: 15px;
  width: 60%;
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}
.banner-text button {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  background-color: #FF900E;
  border: 1px solid #FF900E;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 30px;
}
.banner-text button:hover{
  background-color: white;
  color: #FF900E; 
}
.banner-img {
  display: flex;
  justify-content: center;
}
.banner-img img {
  max-width: 80%;
  
}
main{
  width: 80%;
  margin: 0 auto;
}
.contenter{
  display: flex;
  gap: 40px;
  margin-top: 50px;
}
.section-1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.section-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-2 h3{
  font-size: 38px;
  padding: 0 0 40px 0;
}
.section-2 p{
  color: gray;
  font-size: 14px;

}
.span-heading-1{
  color: gray;
  font-weight: 400;
}
.span-heading-2{
  color: #FF900E;
}
.section-2 button {
  width: 200px;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  background-color: #FF900E;
  border: 1px solid #FF900E;
  color: #fff;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.section-2 button:hover{
  background-color: white;
  color: #FF900E; 
}
/* ========== RESPONSIVE ========== */
@media (max-width: 600px) {
  nav ul {
    position: absolute;
    top: 66px;
    right: 0;
    background: rgba(200, 198, 198, 1);
    width: 100%;
    flex-direction: column;
    padding: 20px 0;
    gap: 15px;
    display: none;
    align-items: center;
  }

  nav ul.active {
    display: flex;
  }

  .mobile-menu-btn {
    display: block;
  }
  main{
  width: 90%;
  margin: 0 auto;
}
  .contenter{
  flex-direction: column;
}
  .banner .banner-text h3 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 5px;
}
  .banner .banner-text p {
  font-size: 10px;
  width: 90%;
}
.section-1{
  gap: 12px;
}
.section-1 img{
  width: 100%;
}
.section-2{
  text-align: center;
}
.section-2 h3{
  font-size: 34px;
  padding: 0 0 30px 0;
}
.section-2 button {
  width: 100%;
  font-size: 18px;
}
}

/* nav{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
nav h2 {
  font-weight: 600;
}
.menu {
  display: none;
}
.navbar ul{
  display: flex;
  gap: 30px;
  list-style-type: none;
  
}
.navbar ul a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 300;
  padding: 5px 10px;
}
.menu {
  display: none;
}

.menu.active {
  display: block;
}
@media (max-width: 600px) {
  .navbar{
    display: none;
  }
  .menu {
    display: block;
    font-size: 28px;
    margin-top: 3px;
  }
} */