@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  background-color: #fdf4e8;
  padding-bottom: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  width: 80%;
  margin: 0 auto;
}

nav h2 {
  font-weight: 600;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

/* MOBILE MENU BUTTON */
.mobile-menu-btn {
  background: none;
  border: none;
  color: black;
  font-size: 28px;
  display: none;
  cursor: pointer;
}
.hidden {
  display: none;
}
.banner {
  margin-top: 30px;
}
.banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-text h3 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}
.banner-text p {
  font-size: 15px;
  width: 60%;
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}
.banner-text button {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  background-color: #ff900e;
  border: 1px solid #ff900e;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 30px;
  transition: 0.3s ease-in-out;
}
.banner-text button:hover {
  background-color: white;
  color: #ff900e;
}
.banner-img {
  display: flex;
  justify-content: center;
}
.banner-img img {
  max-width: 80%;
}
main {
  width: 80%;
  margin: 0 auto;
}
.container {
  display: flex;
  gap: 40px;
  margin-top: 50px;
}
.section-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-2 h3 {
  font-size: 38px;
  padding: 0 0 40px 0;
}
.section-2 p {
  color: gray;
  font-size: 14px;
}
.span-heading-1 {
  color: gray;
  font-weight: 400;
}
.span-heading-2 {
  color: #ff900e;
}
.section-2 button {
  width: 200px;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  background-color: #ff900e;
  border: 1px solid #ff900e;
  color: #fff;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: 0.3s ease-in-out;
}
.section-2 button:hover {
  background-color: white;
  color: #ff900e;
}
.container-2 {
  display: flex;
  gap: 100px;
  margin-top: 120px;
  position: relative;
}
.line {
  width: 6px;
  height: 90px;
  background-color: #ff900e;
}
.first-section {
  width: 45%;
}
.first-section-heading {
  display: flex;
  gap: 14px;
}
.first-section-heading h3 {
  font-size: 30px;
  font-weight: 680;
}
.first-section-p {
  font-size: 13px;
  color: gray;
  margin: 18px 0;
  line-height: 25px;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.card {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
}
.cards h5 {
  font-size: 20px;
  font-weight: 700;
  color: #111;
  margin-bottom: 15px;
  line-height: 1.3;
}
.cards p {
  font-size: 14px;
  line-height: 25px;
  color: #666;
}
.second-section {
  width: 55%;
  position: relative;
}
.second-section img {
  width: 100%;
  height: auto;
  position: relative;
}
.experience {
  position: absolute;
  background-color: #ff900e;
  padding: 25px 40px;
  border-radius: 5px;
          bottom: -50px;
        left: -48px;

}
.experience h3 {
  font-size: 5vmin;
  color: #fff;
}
.experience span {
  font-size: 2vmin;
  text-align: center;
  color: #fff;
}
.container-3 {
  margin-top: 100px;
}
.container-3 h4{
  font-size: 30px;
}
.container-3 p {
  font-size: 16px;
  color: gray;
  margin-top: 20px;
  margin-bottom: 60px;
  line-height: 1.6;
}
.boxs{
  display: flex;
  justify-content: space-between;
}
.box{
  width: 240px;
  height: 240px;
  border: 2px solid #ff900e;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box img {
  margin-top: 85px;
}
.box h5 {
  font-size: 30px;
  margin-top: 20px;
}
.sponspors-section{
  text-align: center;
  margin-top: 70px;
}
.sponspors-section h3 {
  font-size: 40px;
  margin-bottom: 20px;
}
.sponspors-section p{
  color: gray;
}
.sponspors{
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  filter: grayscale(100%);
  flex-wrap: wrap;
}
footer{
  width: 80vw;
  margin: 100px auto;
  background-color: #FFF4E7;
  text-align: center;
  padding: 20px 0;
}
/* ========== RESPONSIVE ========== */
@media (max-width: 1200px){
  .section-1{
    width: 50%;
    gap: 10px;
  }
  .section-1 img{
    width: 100%;
  }
  .section-2{
    width: 50%;
  }
  .section-2 h3 {
    font-size: 3vw;
  }
  .section-2 p {
    font-size: 1.5vw;
  }
  .experience {
    display: none;
  }
}
@media (max-width: 768px) {
  nav ul {
    position: absolute;
    top: 66px;
    right: 0;
    background: rgba(200, 198, 198, 1);
    width: 100%;
    flex-direction: column;
    padding: 20px 0;
    gap: 15px;
    display: none;
    align-items: center;
  }

  nav ul.active {
    display: flex;
  }

  .mobile-menu-btn {
    display: block;
  }
  main {
    width: 90%;
    margin: 0 auto;
  }
  .container {
    flex-direction: column;
  }
  .banner .banner-text h3 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 5px;
  }
  .banner .banner-text p {
    font-size: 10px;
    width: 90%;
  }
  .section-1 {
    gap: 12px;
    width: 100%;
  }
  .section-1 img {
    width: 100%;
  }
  .section-2 {
    width: 100%;
    text-align: center;
  }
  .section-2 h3 {
    font-size: 34px;
    padding: 0 0 30px 0;
  }
  .section-2 button {
    width: 100%;
    font-size: 18px;
  }
  .container-2 {
    flex-direction: column-reverse;
  }
  .first-section {
    width: 100%;
    margin: 0 auto;
  }
  .second-section {
    width: 90%;
    margin: 0 auto;
  }
  .experience {
    bottom: 61%;
    left: -2%;
  }
  .card {
    padding: 5px;
  }
  .container-3 p {
  font-size: 11px;
}
.boxs{
  gap: 10px;
}
.box{
  width: 140px;
  height: 140px;
}
.box img {
  margin-top: 60px;
}
.box h5 {
  font-size: 20px;
  margin-top: 10px;
}
.box p{
  margin-top: 0;
  font-size: 9px;
}

}

/* nav{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
nav h2 {
  font-weight: 600;
}
.menu {
  display: none;
}
.navbar ul{
  display: flex;
  gap: 30px;
  list-style-type: none;
  
}
.navbar ul a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 300;
  padding: 5px 10px;
}
.menu {
  display: none;
}

.menu.active {
  display: block;
}
@media (max-width: 600px) {
  .navbar{
    display: none;
  }
  .menu {
    display: block;
    font-size: 28px;
    margin-top: 3px;
  }
} */
